@model AtomicCms.Common.Entities.CmsMenu
@using AtomicCms.Web.Core.Extensions
@using AtomicCms.Common.Entities
<div id="pillmenu">
    <ul class="menu">
        @foreach (CmsMenuItem item in Model.MenuItems)
        {
            <li><a href="@Url.BuildMenuLink(item)" title="@item.Title" class="mainlevel-nav">
                <span>@item.Title</span></a> </li>
         
        }
    </ul>
</div>
