<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <configSections>
        <section name="hibernate-configuration" requirePermission="false" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
    </configSections>
    <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
        <reflection-optimizer use="false" />
        <session-factory>
            <property name="connection.provider">
        NHibernate.Connection.DriverConnectionProvider
      </property>
            <property name="dialect">
        NHibernate.Dialect.MsSql2005Dialect
      </property>
            <property name="connection.driver_class">
        NHibernate.Driver.SqlClientDriver
      </property>
            <property name="show_sql">false</property>
            <property name="query.substitutions">
        true 1, false 0, yes 'Y', no 'N'
      </property>
            <property name="proxyfactory.factory_class">
        NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle
      </property>
            <property name="current_session_context_class">managed_web</property>
            <mapping assembly="AtomicCms.Data"></mapping>
        </session-factory>
    </hibernate-configuration>
    <appSettings>
        <add key="Skin" value="simple-white" />
        <add key="Uploads" value="Uploads" />
      <add key="ClientValidationEnabled" value="false" />
      <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    </appSettings>
    <connectionStrings>
        <add name="AtomicCms" connectionString="Data Source=(local);Initial Catalog=AtomicCms;User Id=sa; Password=sa;" />
    </connectionStrings>
    <system.web>
        <!--
    http://aspnetresources.com/tools/machineKey
    <machineKey validationKey="7C8A69CD36BA21F018BF287F3603F4CC0242ADC66DBA1EB0EB2916026D368F42D21461C540B1F710EC58B823FB6403802759D464C3556D8A9D1CC2F5445FFD57" decryptionKey="6C142FA3B6AAE3F249C04D2F1380712B1B9B8299FE10470257F30D62E7565421" validation="SHA1" decryption="AES" />-->
        <globalization culture="en-US" uiCulture="en" />
        <sessionState timeout="150"></sessionState>
        <customErrors mode="RemoteOnly">
            <error statusCode="404" redirect="/Error/NotFound/" />
            <error statusCode="500" redirect="/content/error/500servererror.htm" />
        </customErrors>
        <httpRuntime requestValidationMode="2.0" />
        <caching>
            <outputCacheSettings>
                <outputCacheProfiles>
                    <clear/>
                    <!--duration in seconds-->
                    <add name="Syndication" duration="1" varyByParam="none" />
                    <add name="Page" duration="1" varyByParam="none" />
                    <add name="Menu" duration="1" varyByParam="none" />
                    <add name="SettingsCacheProfile" duration="1" varyByParam="*" />
                    <add name="StaticResource" duration="1" varyByParam="none" />
                </outputCacheProfiles>
            </outputCacheSettings>
        </caching>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
            </assemblies>
        </compilation>
        <authentication mode="Forms">
            <forms loginUrl="~/Account/LogOn/" timeout="10000" slidingExpiration="true" />
        </authentication>
        <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
            <namespaces>
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
              <add namespace="System.Web.Helpers" />
              <add namespace="System.Web.WebPages" />
            </namespaces>
        </pages>
        <httpHandlers>
            <add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </httpHandlers>
    </system.web>
    <system.web.extensions />
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true">
        </modules>
        <handlers>
            <remove name="MvcHttpHandler" />
            <remove name="UrlRoutingHandler" />
            <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </handlers>
        <!--  <rewrite>
      <rules>
        <rule name="redirect from www to domain com" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="www.atomiccms.com" />
          </conditions>
          <action type="Redirect" url="http://atomiccms.com/{R:0}" />
        </rule>
      </rules>
    </rewrite>-->
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
          <dependentAssembly>
            <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
          </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
